<h1>Paket Wisata</h1>
<div class="container">
  <ul class="list-group list-group-horizontal-md">
    <% listpaketwisata.forEach(paket => { %>
      <li class="list-group-item">
        <img src="<%= paket.foto %>">
        <h5><%= paket.nama %></h5>
        <p><b>Harga Paket</b><br>Rp <%= paket.harga %> / orang</p>
        <div class="infoSelengkapnya" onclick="toggleInfo(this)">
          Informasi selengkapnya
        </div>
        <p id="infoPaket1" class="informasi" style="display: none;">
          <b>Durasi :</b> <%= paket.durasi %><br>
          <b>Deskripsi :</b> <%= paket.deskripsi %><br>
        </p>
      </li>
    <% }) %>
  </ul>
</div>