<h1>Detail Order</h1><br>
<h5>Anda mengorder <%= listpaketwisata[orderDetails.selectPaketWisata].nama %></h5>
<h6>Nama : <%= orderDetails.nama %></h6>
<h6>Email : <%= orderDetails.email %></h6>
<h6>Jumlah paket : <%= orderDetails.jumlah %></h6>
<h6>Deskripsi paket : <br><%= listpaketwisata[orderDetails.selectPaketWisata].deskripsi %></h6>
<h5>Total Harga : Rp <%= orderDetails.hargaTotal %></h5><br><br>
<h6>Terima kasih sudah mengorder paket wisata di website Pariwisata Palembang!</h6>
<a href="/paketwisata">Kembali ke Halaman Paket Wisata</a>